.container {
  width: 1200px;
  margin: 0 auto;
}

.navigation-container{
  display:flex;
  padding: 60px;
  width: 750px;
  height: 50px;
  align-items: flex-end;
}

.nav-crumbs {
  flex: 1 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  list-style-type: none;
}

ul a {
  color: #ffffff;
  text-decoration-line: none;
}

.page-header-project{
  flex-basis: 35%;
  font-weight: 600;
  font-size: 20px;
  text-decoration-line: none;
}
.nav-page {
  background-image: url(../assets/Top_page_background.png);
  color: #ffffff;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline-page {
  padding: 100px 200px 200px;
  height:fit-content;
}

.headline-page img {
  height: 63px;
  width: 63px;
  margin: 0 auto;
}

.h2-headline {
  font-family:'Oswald', sans-serif;
  font-size: 48px;
  line-height: 64px;
  margin-top: 20px;
}

.text-top-page {
  opacity:0.7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.main-content {
  height: 526px;
  background-size: 1200px 700px;
  background-color: #eeeeee;
  margin: 0;
  text-align: center;
  padding: 87px 145px;
}

.headline-main-page {
  margin-top: -30px;
  margin-bottom: 40px;
  color: #464547;
  font-family:'Oswald', sans-serif;
  font-size: 48px;
  line-height: 64px;
}

.text-main-page {
  color: #666666;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.main-text-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  margin-bottom: 20px;
  color: #666666;
  line-height: 22px;
  font-size: 16px;
  text-align: left;
}

.button-read-more {
  background-color: #55C2D8;
  color: #fff;
  width: 115px;
  height: 36px;
  border-radius: 18px;
  border: none;
  margin: 0 auto;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

.learn-more-page {
  background-image: url(../assets/Last_page_background.png);
  height: 666px;
  background-size: 1200px 666px;
  color: #fff;
  margin-bottom: -15px;
  text-align: center;
  margin-top: -150px;
}

.learn-more {
  width: 480px;
  height: 117px;
  margin: 150px auto 21px;
  text-align: center;
  padding-top: 42px;
  font-family:'Oswald', sans-serif;
  font-size: 48px;
  line-height: 64px;
}

.ellipse {
  background-color: #39C2D7;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 90px auto 80px;
  position: relative;

}
.ellipse img {
  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.text-last-page {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  line-height: 32px;
}
footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 70px) ;
  justify-content: start;
  background-color: #464547;
  height: 140px;
  color: #ffffff;
  padding: 50px 122px 5px;
  text-align: left;
  font-family: 'Source Sans Pro', sans-serif;

}

.small-logo {
  margin-bottom: 10px;
  grid-column: 1 /span 1;
  grid-row: 1 /span 1;
}

footer img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  vertical-align: -3px;
}

footer p, footer a {
  opacity: 0.4;
  color: #ffffff;
}

footer p:first-of-type {
  opacity:1;
  margin-bottom: 5px;
  font-size: 18px;
  margin-top: -2px;
}

.address {
  grid-column: 3 /span 1;
  grid-row: 1 / span 1;
  opacity: 0.4;
  color: #ffffff;
}

.email {
  grid-column: 3 /span 2;
  grid-row: 2 / span 2;
  text-decoration-line: none;
  text-decoration: none;

}

.copyright {
  grid-column: 6 /span 2;
  grid-row: 2/ span 1;
  justify-self: end;
  color: #ffffff;
  opacity: 0.4;

}


